* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
	background-color: #000;
}

#inners {
	width: 150px;
	height: 150px;
	position: absolute;
	left: 50%;
	top: 50%;
	perspective: 10000px;
	perspective-origin: 50% 50%;
	transform-style: preserve-3d;
	transform: translate( -50%, -50% ) rotateX( -10deg );
	animation: play 3s linear infinite;
}

#inners li {
	width: 100%;
	height: 100%;
	list-style: none;
	position: absolute;
	transition: all .3s linear 0s;
	opacity: .7;
}

#inners li img {
	width: 100%;
	height: 100%;
}

#inners li:first-child {
	transform: rotateY( 90deg ) translateZ( 75px );
}

#inners li:nth-child(2) {
	transform: rotateY( 180deg ) translateZ( 75px );
}

#inners li:nth-child(3) {
	transform: rotateY( 270deg ) translateZ( 75px );
}

#inners li:nth-child(4) {
	transform: rotateY( 360deg ) translateZ( 75px );
}

#outers {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	perspective: 1000;
	perspective-origin: 50% 50%;
	transform-style: preserve-3d;
	transform: translate( -50%, -50% ) rotateX( -10deg );
	animation: play 3s linear infinite;
}

#outers li {
	width: 100%;
	height: 100%;
	list-style: none;
	position: absolute;
	transition: all .3s linear 0s;
	opacity: .15;
}

#outers li img {
	width: 100%;
	height: 100%;
}

#outers li:first-child {
	transform: rotateY( 90deg ) translateZ( 100px );
}

#outers li:nth-child(2) {
	transform: rotateY( 180deg ) translateZ( 100px );
}

#outers li:nth-child(3) {
	transform: rotateY( 270deg ) translateZ( 100px );
}

#outers li:nth-child(4) {
	transform: rotateY( 360deg ) translateZ( 100px );
}

@keyframes play {
	form {
		transform: translate( -50%, -50% ) rotateX( -10deg ) rotateY( 0deg );
	}
	to {
		transform: translate( -50%, -50% ) rotateX( -10deg ) rotateY( 360deg );
	}
}